* {
  font-family: Poppins, sans-serif;
}

body {
  background-image: url(hd.avif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  
}
.title {
  color: black;
}
