.side {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  background: transparent;
  border-style: none;
  backdrop-filter: blur(55px);
  width: 170px;
  z-index: 200;
  color:black;
  font-weight: 600;
}
.side-info {
  height: 75px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 2;
  font-size: 15px;
  padding: 10px;
}
.Pic {
  height: 150x;
  width: 150px;
  margin-bottom: 30px;
  border-style: none;
  border-radius: 75px;
}
.side-icon {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.side-info img {
  height: 150px;
  margin-bottom: 4px;
}
.info {
  text-align: center;
}
